<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
      <div class="form-group">
        <div class="col-xs-12">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            formControlName="email"
            name="email"
            required
            email>
        </div>
        <div class="col-xs-12">
          <label for="Password">Password</label>
          <input
            type="text"
            id="Password"
            formControlName="Password"
            class="form-control"
            name="Password"
            required
            minlength="6">
        </div>
      </div>
      <div>
        <button type="submit"
                class="btn btn-primary"
                [disabled]="!signUpForm.valid">
                {{ isLoginMode ? 'LogIn' : 'Sign Up'}}</button> |
        <button type="button"
                class="btn btn-primary"
                (click)="onSwitchMode()">
                Switch to {{ isLoginMode ? 'Sign Up' : 'LogIn' }}</button>
      </div>
    </form>
  </div>
</div>
